<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Details</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu3n8SgW9peGPFRl5Qe7fYvGdeuk8xzrI&loading=async&libraries=places&callback=initMap" ></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h2>Rider Information</h2>
    <p>Name: <%= rideRequest.riderId.eName %></p>
    <p>Email: <%= rideRequest.riderId.eEmail %></p>
    <p>Contact: <%= rideRequest.riderId.contact %></p>
    <p>Address: <%= rideRequest.riderId.eAddress %></p>

    <h2>Ride Request Information</h2>
    <p>Pickup Address: <%= rideRequest.pickupAddress %></p>
    <p>Destination: <%= rideRequest.destination.coordinates.join(', ') %></p>
    <p>Car Type: <%= rideRequest.carType %></p>
    <p>Status: <%= rideRequest.status %></p>

    <!-- Hidden inputs to store latitude and longitude -->
    <input type="hidden" id="pickupLat" value="<%= rideRequest.pickupLocation.coordinates[1] %>">
    <input type="hidden" id="pickupLng" value="<%= rideRequest.pickupLocation.coordinates[0] %>">
    <input type="hidden" id="driverLat" value="<%= driver.latitude %>">
    <input type="hidden" id="driverLng" value="<%= driver.longitude %>">

    <div id="map"></div>

    <script src="/javascripts/driverRideDetails.js"></script> <!-- Include the external JavaScript file -->

</body>
</html>